---
layout: default
---
<p>Web &amp; iOS Full-stack Developer located in Tokyo, Japan</p>
<div class="lets-talk">
  <a href="mailto:{{site.email}}">Get in touch</a>
</div>
<div class="social">
  {% include social.html %}
</div>
<div class="portfolio">
  <h1>Portfolio</h1>
  <p>Collection of notable projects I have been a part of both professionally and personally. Due to contractual obligations, details of select projects are not included.</p>
  {% assign projects = site.data.portfolio | sort: 'order' %}
  {% for project in projects %}
    <div class="project">
      <h2>
        {{ project.title }}
        {% if project.url %}
          <a href="{{ project.url }}"><i class="fa fa-external-link-square" aria-hidden="true"></i></a>
        {% endif %}
        {% if project.github %}
          <a href="{{ project.github }}"><i class="fa fa-github" aria-hidden="true"></i></a>
        {% endif %}
        {% if project.gitlab %}
          <a href="{{ project.github }}"><i class="fa fa-gitlab" aria-hidden="true"></i></a>
        {% endif %}
      </h2>
      
      {% if project.img %}
        <img src="/img/{{ project.img }}" />
      {% endif %}

      {% for desc in project.desc %}
        <p>{{ desc }}</p>
      {% endfor %}
      
      {% if project.technology %}
        <h3>Technologies</h3>
        <ul>
          {% for technology in project.technology %}
            <li>{{ technology }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endfor %}
</div>
