<ul class="social-icons">
  <li>
    <a href="https://gitlab.com/{{ site.gitlab_username }}" title="gitlab"><i class="fa fa-gitlab" aria-hidden="true"></i></a>
  </li>
  <li>
    <a href="https://github.com/{{ site.github_username }}" title="github"><i class="fa fa-github" aria-hidden="true"></i></a>
  </li>
  <li>
    <a href="http://stackoverflow.com/users/1052068/tokyovariable" title="stackoverflow"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
  </li>
  <li>
    <a href="http://twitter.com/{{ site.twitter_username }}" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  </li>
  <li>
  	<a href="https://www.linkedin.com/in/{{ site.linkedin_username}}" title="LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
  </li>
  <li>
  	<a href="http://blog.nilghe.com" title="Blog"><i class="fa fa-book"></i></a>
  </li>
</ul>  