.social-icons {
    margin: $spacing-unit / 2 0;
    li {
        font-size: 2em;
        display: inline-block;
        list-style: none;
        padding: 0 $spacing-unit;

        @include media-query($on-palm) {
            padding: $spacing-unit / 2;
        }
    }
    a,
    a:visited,
    a:active,
    a:hover {
        color: $purple-color;
    }
}